---
import type { BlogType } from '@/types';
import ArticleThumbnail from './ArticleThumbnail.astro';

type Props = {
  post: BlogType;
  slug: string;
};

const { post, slug } = Astro.props;
---

<a
  href={`/blog/${slug}`}
  class="not-animated flex cursor-pointer items-center p-4 -m-4 gap-8 w-full rounded-2xl
  transition-colors duration-300 hover:bg-gray-100 dark:hover:bg-gray-800
  text-current dark:text-current hover:text-current dark:hover:text-current"
>
  <ArticleThumbnail slug={slug} post={post} size="w-[80px] h-[80px]" />
  <div class="flex flex-grow flex-col gap-2 text-sm">
    <h2 class="text-lg font-montserrat font-thin m-0 p-0">
      {post.title}
    </h2>
    {
      post.description && (
        <p class="text-gray-400 dark:text-gray-500 m-0 p-0 font-sans">
          {post.description}
        </p>
      )
    }
  </div>
  <time class="text-gray-400 dark:text-gray-500 text-xs">
    {
      new Date(post.date).toLocaleDateString('en-US', {
        year: 'numeric',
        month: 'long',
        day: 'numeric',
      })
    }
  </time>
</a>
